./apps/web/.next
./apps/web/node_modules
./apps/web/.env.prod
./apps/web/.env.local


./apps/backend/.env.
./apps/backend/.env
./apps/backend/node_modules
./apps/backend/dist

./packages/config-eslint/node_modules
./packages/db/node_modules
./packages/db/dist
./packages/db/.env
./packages/tailwind-config/node_modules
./packages/zod/node_modules